* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgba(0, 115, 155, 5); */
  background: url(../img/bg2.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  place-items: center;
  display: grid;
  /* background-attachment: fixed; */
}

#todo-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 400px;
  margin-right: 400px;
  flex-wrap: wrap;
  min-width: 400px;

  /* Transparent Part */

  border: 0px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 2);
  height: 50rem;
  overflow: hidden;
  position: relative;
  width: 370px;
    
}

#todo-table::before {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}


#todo-container {
  position: absolute;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0px;
  background-color: rgba(55, 125, 205, 70%);
  min-height: 5rem;
  border-radius: 3%;
  border: none;
  width: 17.5rem;
  top: 5%;
}

#todo-input {
  text-indent: 20px;
}

#todo-container input {
  min-width: 15rem;
  min-height: 3rem;
  font-size: 20px;
}

#todo-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25%;
  width: 425px;
  
}

#todo-btn {
  display: block;
  padding: 2.9px;
  color: black;
  background: white;
  min-height: 3.125rem;
  min-width: 2rem;
  font-size: 36px;
  text-align:inherit;
}

#todo-btn:hover {
  color: white;
  background: darkgray;
}

.fa-plus-square {
  pointer-events: none;
  font-size: 2rem;
   
  
}

#display-btn, #remove-btn, #edit-btn, #toggleAll-btn {
  border-style: dashed;
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 100px;
  font-size: 1rem;
}

.delete-btn, .toggle-on-btn, .edit-btn {
  border: none;
  padding: 5px;
  margin: 0px;
  height: 3rem;
  width: 3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.delete-btn {
  background: rgb(185, 55, 55);
}

.toggle-on-btn {
  background: rgb(25, 95, 255);
}

.edit-btn {
  background: rgb(10, 155, 95)
}

.fa-trash, .fa-toggle-on, .fa-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(8rem);
    /* rotateZ(20deg); */
  opacity: 0;
  transition: all 0.5s ease;
}


.todo-div-li {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.5s ease;
}

ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  font-size: 18px;
  /* padding: 10px; */
  min-height: 2rem;
  width: 200px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.completed-task {
  font-style: italic;
  text-decoration: line-through;
  color: rgba(150, 150, 150, 0.5);
  transition: all 0.5s ease;
}

/* Button css */

#togBtn .knobs:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12px;
  height: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 5px 1px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.35), 0 10px 10px -5px rgba(0, 0, 0, 0.20);
}

/* Credit to Educity for the original toggle code. */

#togBtn .checkbox:checked+.knobs:before {
  content: '';
  left: 26px;
  background-color: #fff;
}

#togBtn .checkbox:checked~.layer {
  background-color: rgba(15, 55, 155, 1);
}

#togBtn .knobs, #togBtn .knobs:before, #togBtn .layer {
  transition: 0.3s ease all;
}

.knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 50px;
  height: 20px;
  margin: -20px auto 0 auto;
  overflow: hidden;
  margin: 10px;
}

.button.r, .button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #d3d3d3;
  transition: 0.3s ease all;
  z-index: 1;
}

